# Step 1. Import the necessary libraries

In [6]:
import pandas as pd

# Step 2. Import the dataset from this address.

In [7]:
pd.read_csv('drinks.csv')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

# Step 3. Assign it to a variable called drinks.

In [8]:
drinks = pd.read_csv('drinks.csv')

# Step 4. Which continent drinks more beer on average?

In [9]:
drinks.groupby('continent').beer_servings.mean().sort_values(ascending=False)

continent
Europe           193.777778
South America    175.083333
North America    145.434783
Oceania           89.687500
Africa            61.471698
Asia              37.045455
Name: beer_servings, dtype: float64

# Step 5. For each continent print the statistics for wine consumption.

In [10]:
drinks.groupby('continent').wine_servings.describe()

               count        mean        std  min   25%    50%     75%    max
continent
Africa          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
Asia            44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
Europe          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
North America   23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
Oceania         16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
South America   12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

# Step 6. Print the mean alcohol consumption per continent for every column

In [21]:
drinks.groupby('continent').mean

# Step 7. Print the median alcohol consumption per continent for every column

In [19]:
drinks.groupby('continent').median

# Step 8. Print the mean, min and max values for spirit consumption.
This time output a DataFrame

In [13]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                     mean  min  max
continent
Africa          16.339623    0  152
Asia            60.840909    0  326
Europe         132.555556    0  373
North America  165.739130   68  438
Oceania         58.437500    0  254
South America  114.750000   25  302